.title {
    color: #8560CB;
}
/* 
.sticky-footer {
    display: flex;
    flex-shrink: 0;
} */

.control > :last-child {
    margin-bottom: 3rem;
}

.progress-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    margin-top: 10rem;
}

.next-button {
    text-align: center;
}